{% extends 'base.html.twig' %}

{% block title %}Программы обучения по программированию{% endblock %}

{% block body %}

    <div class="container w-25">
        <h1 >Список программ обучения по программированию</h1>
        {% for course in courses %}
            <div class="card">
                <div class="card-body">
                    <a href="{{ path('course_show', {'id': course['course'].id}) }}" class="card-link">{{ course['course'].name }}</a>
                    <div>{{ course['course'].description }}</div>
                    {% if course['type'] == 0 %}
                    <div>Беспланый</div>
                    {% elseif course['type'] == 2 %}
                        <div>Аренда</div>
                    {% elseif course['type'] == 1 %}
                        <div>Покупка</div>
                    {% endif %}

                    {% if course['type'] != 0 and course['transaction']%}

                        {% if course['transaction']['expires_at'] is defined and course['type'] == 2 %}
                            <div>Арендован до {{ course['transaction']['expires_at'] }}</div>
                        {% else %}
                            <div>Куплен</div>
                        {% endif %}

                    {% endif %}
                </div>
            </div>
        {% else %}
            <div>Доступных для прохождения курсов нет</div>
        {% endfor %}

        {% if is_granted('ROLE_SUPER_ADMIN')%}
            <a href="{{ path('course_new') }}" class="course-new btn btn-secondary mt-2">Создать новый курс</a>
        {% endif %}

    </div>

{% endblock %}
