{% extends 'base.html.twig' %}

{% block title %}{{course.name}}{% endblock %}

{% block body %}
    <a href="{{ path('course_index') }}">Вернуться к списку программ</a>
    <h1>{{course.name}}</h1>
    <div>{{course.description}}</div>
    <div>Программа обучения:</div>
    {% for lesson in course.lessons %}
        <p><a href="{{ path('lesson_show', {'id': lesson.id}) }}" class="lesson-link">{{ lesson.number }}. {{ lesson.title }}</a></p>
    {% else %}
        <div>Уроки для данной программы обучения в разработке</div>
    {% endfor%}

    <a href="{{ path('course_edit', {'id': course.id}) }}" class="course-edit">Редактировать программу</a>
    <a href="{{ path('lesson_new', {'id': course.id}) }}" class="lesson-new">Добавить урок</a>
    {{ include('course/_delete_form.html.twig') }}
{% endblock %}
