{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <div class="container w-25 text-center">
        <h1>Регистрация</h1>
        <form method="post">

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            {% if errors %}}
                <p>errors</p>
            {% endif %}
            {{ form_start(form) }}
            <div class="pt-4 mx-5 justify-content-center">
                {{ form_row(form.username) }}
                {{ form_row(form.password) }}
                <button class="btn btn-secondary">{{ button_label|default('Зарегистрироваться') }}</button>
            </div>
            {{ form_end(form) }}
        </form>

    </div>

{% endblock %}